body{
    background-color: #acc8ff;
    border: #ff369b 10px;
   border-style: double;
   padding: 30px;
   margin: 32px;
   
}


input[type = "text"]{
    background-color: #c4fcf1;
}

input[type="password"]{
    background-color: #ff369b;
}

input[type="email"]{
    background-color: #ffd34e;
}

a[href^="https"]{
    color: crimson;
}

a[href^="www"]{
    color: rgb(20, 190, 220);
}


button{
    background-color: lightpink;
    color: bisque;
}

button:hover{
    background-color:#ff369b;
    color: lightslategray;
}

/* input:hover{
    background-color: rgb(255, 255, 144);
} */

/* CHECKED,ACTIVE,VISITED */


/* these come under psuedo elements */


p::first-line{
    color: #245e00;
    
}

p::first-letter{
    color: #ffd34e;
    
}

p::selection{
    color: cornflowerblue;
    background-color: bisque;
}


/*  while calculating the width, add 2 padding + element width + border width */

p{
    border: #c4fcf1 solid 2px;
    padding: 30px;
    width: 300px;
    height: 200px;
    box-sizing: border-box;
}


