/* .parent{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    width: 300px; /* width applies for parent

} */

/* flex */

body{
    background-color: burlywood;
}
h1{
    text-align: center;
}

.outer{
    width: 900px;
    height: 600px;
    border: 2px solid blue;
    margin: auto;
    display: flex; 
    /* flex-wrap: wrap;   
    flex-direction: row;     */
    /* justify-content: center; */
    /* align-items: flex-end; */
    justify-content:;

}

.inner{
    width: 100px;
    height: 100px;
    border: 2px solid black;

    }




/*  justify content: to change the position of the elemet along the main axis, it includes
        - flex-start
        - flex-end
        - center 
*/

/*occupy nxt row*/
/* flex-wrap(controls cross axis):no wrap----dont occupy next row  DEFAULT*/
/* wrap reverse  */