/*  14th august,2026 */



/* external css is similar to internal css but in css page linked to html page */

p{
    color: #ffc1cc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

